<div class="container mt-5">
  <div style="text-align: center">
    <h1>Welcome to International Calendar</h1>
    <div class="text-center">
      <p>Go to the dashboard to see your stats.</p>
      <p>Go to the calendar to mark your days.</p>
      <p>Go to the calendar to mark your days.</p>
      Click on Welcome to Logout or Edit your profile
    </div>
  </div>

  <div
    *ngIf="(accountService.currentUser$ | async) === null && !registerMode"
    style="text-align: center"
  >
    <p class="lead">All you need to do is sign up!</p>
    <div class="text-center">
      <button (click)="registerToggle()" class="btn btn-primary btn-lg me-2">
        Register
      </button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">
        <app-register
          (cancelRegister)="cancelRegisterMode($event)"
        ></app-register>
      </div>
    </div>
  </div>
</div>
